@font-face {
    font-family: 'Open Sans 400 Normal';
    src: url(../../public/fonts/open-sans-latin-400-normal.woff2);
}

@font-face {
    font-family: 'Open Sans 600 Normal';
    src: url(../../public/fonts/open-sans-latin-600-normal.woff2);
}

.footer {
    background-color: #f6f0ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    padding: 2rem;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}

.footer-content h3 {
    font-family: 'Open Sans 600 Normal', sans-serif;
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.footer-content li, .footer-content p {
    font-family: 'Open Sans 300 Normal', sans-serif;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: .8rem;
}

.footer-content input {
    font-family: 'Open Sans 300 Normal', sans-serif;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: .8rem;
    padding: 1rem 2rem;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1.5rem;
}

.footer-content button {
    font-family: 'Open Sans 400 Normal', sans-serif;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: .8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;

}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    gap: 3rem;
}

.footer-bottom h3 {
    font-family: 'Open Sans 400 Normal', sans-serif;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}

#contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

#image-container {
    width: 40px;
    height: 40px;
}

.github-icon {
    transition: transform 0.5s ease-in-out;
}

.github-icon:hover {
    transform: rotate(180deg);
}

@media screen and (max-width: 868px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        text-align: center;
        padding: 1rem;
    }

    .footer-content h3 {
        text-align: center;
    }

    .footer-content input {
        width: 80%;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    #contact-container {
        flex-direction: column;
        align-items: center;
    }
}